<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm_SQokrvi91dCkGouohNrtwiQX0gaJmY</string>
	<key>GCM_SENDER_ID</key>
	<string>133487521885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akarie.com.demo2</string>
	<key>PROJECT_ID</key>
	<string>realestae-2app</string>
	<key>STORAGE_BUCKET</key>
	<string>realestae-2app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133487521885:ios:2161e714861a4205b85db4</string>
</dict>
</plist>